<div class="healthcare-app">
  <header class="header-bar">
    <div class="logo">
      <i class="fa-solid fa-chart-line logo-icon"></i>
      {{ title }}
    </div>
    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-info-circle"></i> Home</a>
      <a routerLink="/hcp" routerLinkActive="active"><i class="fa-solid fa-user-doctor"></i> HCP</a>
      <a routerLink="/employer" routerLinkActive="active"><i class="fa-solid fa-building"></i> Employer</a>
      <a routerLink="/formulary" routerLinkActive="active"><i class="fa-solid fa-pills"></i> Formulary</a>
      <a routerLink="/hospital" routerLinkActive="active"><i class="fa-solid fa-hospital"></i> Hospital</a>
      <button class="signup" (click)="openDialog()"><i class="fa-solid fa-user-plus"></i> Login</button>
    </nav>
  </header>
  
  <!-- Router outlet for displaying different components based on the active route -->
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p> 2025 Zenith Healthcare. All rights reserved.</p>
    <p>All related trademarks are the property of Zenith Healthcare Analytics.</p>
    
    <div class="social-icons">
      <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </footer>
</div>